body{
    background-color:#212121;
    font-family: Quicksand;
    font-weight: 300;
}


h1{
    color: white;
    font-size: 2.7em;
}

.container-1{
    display: flex;
    justify-content: space-between;
    
}
.container-1 div{
    padding: 10px;
}

h2{
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom:10px;
}

.box-1{
    flex:1;
    width: 30%;
}

.box-2{
    flex:2;
    width: 30%;   
}

.box-3{
    flex:1;
    width: 30%;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 45%;
    outline: none;
    color:grey;
    border-radius: 25px;
    vertical-align: middle;
}


button {
    border: solid #bdbdbd;
    margin: 3px;
    padding: 16px;
    width: 10%;
    font-weight: bold;
    /* height: 100%; */
    text-align: justify;
    outline: none;
    color:white;
    background-color: #bdbdbd;
    border-radius: 25px;
    cursor: pointer; 
    vertical-align: middle;
}

.animated-btn{
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}
.animated-btn:hover {
	transform: scale(1.05); 
}

input::placeholder{
    color:grey
}

ul {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

.animated-gif{
    border-radius: 10px;
  /* background: url(paper.gif);
  background-position: left top; */
    /* background-repeat: repeat; */
    width: 270px;
    height: auto;
    max-height: 28vh;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

input::placeholder{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="text"]
{   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    padding: 15px;
    /* border-width: 3px; */
}

input:focus{
    background-color:#f5f5f5;
}

.animated-gif:hover {
	transform: scale(1.07); 
}

.animated-gif-master{
    border-radius: 10px;
    width: 721px;
    height: auto;
    max-height: 58vh;
    cursor: pointer; 
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.animated-gif-master:hover {
	transform: scale(1.08); 
}

.haha{
     animation: floating-text 2s ease alternate infinite;
  }



